<BlockWrapper :attributes="attributes" :block="block" :preview="is_preview">
    <footer class="flex flex-col items-center gap-2 text-center py-16">
        <p class="text-gray-500 text-sm">&copy; {{ globals.company_name }}, {{ util.year }}</p>
        <DesignedBy />
    </footer>
</BlockWrapper>