<!-- wp:acf/layout {"name":"acf/layout","mode":"preview"} -->
<!-- wp:acf/header {"name":"acf/header","data":[],"mode":"preview"} /-->

<!-- wp:resknow/section -->
<div class="wp-block-resknow-section alignfull section"><div class="section__content"><!-- wp:query-title {"type":"search"} /-->

<!-- wp:query {"queryId":0,"query":{"perPage":9,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"namespace":"core/posts-list"} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|sm"}}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xs","bottom":"var:preset|spacing|xs","left":"var:preset|spacing|sm","right":"var:preset|spacing|sm"},"blockGap":"0"}},"backgroundColor":"gray-50","layout":{"type":"default"}} -->
<div class="has-background has-gray-50-background-color wp-block-group" style="padding-top:var(--wp--preset--spacing--xs);padding-right:var(--wp--preset--spacing--sm);padding-bottom:var(--wp--preset--spacing--xs);padding-left:var(--wp--preset--spacing--sm)"><!-- wp:post-title {"isLink":true,"fontSize":"base"} /-->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-600"}}}},"textColor":"gray-600","fontSize":"sm"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div></div>
<!-- /wp:resknow/section -->

<!-- wp:acf/footer {"name":"acf/footer","data":[],"mode":"preview"} /-->
<!-- /wp:acf/layout -->