<!-- wp:acf/layout {"name":"acf/layout","mode":"preview"} -->
<!-- wp:acf/header {"name":"acf/header","mode":"preview"} /-->

<!-- wp:resknow/section {"collapseBottomSpace":true,"style":{"spacing":{"blockGap":"var:preset|spacing|sm","padding":{"bottom":"var:preset|spacing|md"}}},"layout":{"type":"default"}} -->
<div class="wp-block-resknow-section has-collapsed-bottom-space alignfull section" style="padding-bottom:var(--wp--preset--spacing--md)"><div class="section__content"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|gray-500"}}}},"textColor":"gray-500","fontSize":"sm"} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"sm"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-content {"className":"is-style-prose","layout":{"type":"constrained","justifyContent":"left"}} /-->

<!-- wp:paragraph {"fontSize":"sm"} -->
<p class="has-sm-font-size"><a href="http://celeste.local/blog/" data-type="page" data-id="2182">Back to blog</a></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:resknow/section -->

<!-- wp:acf/footer {"name":"acf/footer","mode":"preview"} /-->
<!-- /wp:acf/layout -->