<a
	:class="['bg-link-base text-white no-underline left-8 px-3 py-6 absolute z-50 transition duration-300 transform -translate-y-[105vh] hover:text-white focus:shadow-2xl focus:translate-y-0', attributes.class] | join(' ')"
	:href="href"
	@attributes
>
	{{ label }}
</a>