<BlockWrapper :attributes="attributes" :block="block" :preview="is_preview">
	{% if fields.type == "textarea" %}
		<Input
			:name="fields.name"
			:label="fields.label"
			:required="fields.required"
			type="textarea"
		/>
	{% elseif fields.type == "select" %}
		<Select
			:name="fields.name"
			:label="fields.label"
			:required="fields.required"
		>
			{% for choice in fields.choices %}
				<option value="{{ choice.value }}">{{ choice.label }}</option>
			{% endfor %}
		</Select>
	{% elseif fields.type == "hidden" %}

		{% if is_preview %}
			<p class="border border-dashed rounded-xs py-1 px-3 text-gray-600 font-mono text-sm">Hidden Input <code>`{{ fields.name }}`</code></p>
		{% endif %}

		<input
			type="hidden"
			:name="fields.name"
			:value="fields.value"
			:required="fields.required"
		/>
	{% else %}
		<Input
			:name="fields.name"
			:label="fields.label"
			:type="fields.type"
			:required="fields.required"
		/>
	{% endif %}
</BlockWrapper>
