:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"]) {
	appearance: none;
	align-items: center;
	background: var(--btn--background, var(--color-gray-100));
	border-radius: var(--btn--border-radius, var(--radius-xs));
	border: var(--btn--border-thickness, 1px) solid var(--btn--border-color, transparent);
	box-shadow: var(--btn--shadow, var(--shadow-sm));
	color: var(--btn--color, var(--color-gray-800));
	cursor: pointer;
	display: inline-flex;
	font-size: var(--btn--font-size, var(--size-base));
	font-weight: var(--btn--font-weight, var(--weight-bold));
	gap: var(--btn--gap, var(--space-2));
	justify-content: center;
	letter-spacing: var(--btn--tracking, var(--tracking-wide));
	padding: var(--btn--padding-y, var(--space-2)) var(--btn--padding-x, var(--space-6));
	text-align: center;
	text-decoration: none;
	transform: var(--btn--transform, none);
	transition: var(--btn--transition, transform 0.3s ease, box-shadow 0.3s ease);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"]):hover {
	--btn--shadow: var(--shadow-md);
	--btn--transform: translateY(-1px);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"]):active {
	--btn--shadow: var(--shadow-none);
	--btn--transform: translateY(1px);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"]):focus-visible {
	--btn--shadow: none;
	outline: var(--btn--ring-thickness, 2px) solid var(--btn--ring-color, var(--color-primary));
	outline-offset: var(--btn--ring-offset, 2px);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-icon-position="end"] {
	flex-direction: row-reverse;
}

/** Variants */
:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="primary"] {
	--btn--background: var(--color-primary);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-primary-contrast);
	--btn--ring-color: var(--color-primary);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="secondary"] {
	--btn--background: var(--color-secondary);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-secondary-contrast);
	--btn--ring-color: var(--color-secondary);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="tertiary"] {
	--btn--background: var(--color-tertiary);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-tertiary-contrast);
	--btn--ring-color: var(--color-tertiary);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="highlight"] {
	--btn--background: var(--color-highlight);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-black);
	--btn--ring-color: var(--color-highlight);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="base"] {
	--btn--background: var(--color-white);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-black);
	--btn--ring-color: var(--color-gray-700);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-variant="contrast"] {
	--btn--background: var(--color-black);
	--btn--border-color: rgba(0, 0, 0, 0.2);
	--btn--color: var(--color-white);
	--btn--ring-color: var(--color-black);
}

/** Sizes */
:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-size="sm"] {
	--btn--font-size: var(--size-sm);
	--btn--padding-x: var(--space-4);
	--btn--padding-y: var(--space-1);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-size="md"] {
	--btn--font-size: var(--size-sm);
	--btn--padding-x: var(--space-6);
	--btn--padding-y: var(--space-2);
}

:is(.btn, .btn[type="reset"], .btn[type="submit"], .btn[type="button"])[data-size="lg"] {
	--btn--padding-x: var(--space-8);
	--btn--padding-y: var(--space-3);
}