<a class="block no-underline" href="{{ href ?? '/' }}">
	<!-- Replace this with your logo -->
	<div class="flex items-end gap-xs transition transform origin-top-left duration-500 hover:scale-105">
		<svg class="w-auto h-sm" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 955 104">
			<g filter="url(#a)">
				<path fill="url(#b)" d="M946.366 96H822.938V0h123.428v13.714H864.08v27.429h82.286v13.714H864.08v27.429h82.286V96Z"/>
			</g>
			<g filter="url(#c)">
				<path fill="url(#d)" d="M809.21 0v13.714h-41.143V96h-41.143V13.714h-41.143V0H809.21Z"/>
			</g>
			<g filter="url(#e)">
				<path fill="url(#f)" d="M562.339 0h96v13.714h13.715V27.43h-41.143V13.714h-41.143v27.429l82.286-.137v41.28h-13.715V96h-96V82.286h-13.714V68.57h41.143v13.715h41.143V54.857h-82.286V13.714h13.714V0Z"/>
			</g>
			<g filter="url(#g)">
				<path fill="url(#h)" d="M534.897 96H411.469V0h123.428v13.714h-82.285v27.429h82.285v13.714h-82.285v27.429h82.285V96Z"/>
			</g>
			<g filter="url(#i)">
				<path fill="url(#j)" d="M397.741 96H274.312V0h41.143v82.286h41.143V41.143h41.143V96Z"/>
			</g>
			<g filter="url(#k)">
				<path fill="url(#l)" d="M260.585 96H137.156V0h123.429v13.714h-82.286v27.429h82.286v13.714h-82.286v27.429h82.286V96Z"/>
			</g>
			<g filter="url(#m)">
				<path fill="url(#n)" d="M13.714 96V82.286H0V13.714h13.714V0h96v13.714h13.715V27.43H82.286V13.714H41.143v68.572h41.143V68.57h41.143v13.715h-13.715V96h-96Z"/>
			</g>
			<defs>
				<linearGradient id="b" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="d" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="f" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="h" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="j" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="l" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<linearGradient id="n" x1="480.5" x2="480.5" y1=".286" y2="96.286" gradientUnits="userSpaceOnUse">
				<stop stop-color="#593E6C"/>
				<stop offset="1" stop-color="#422E5B"/>
				</linearGradient>
				<filter id="a" width="131.429" height="104" x="822.938" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="c" width="131.429" height="104" x="685.781" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="e" width="131.429" height="104" x="548.625" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="g" width="131.429" height="104" x="411.469" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="i" width="131.429" height="104" x="274.312" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="k" width="131.429" height="104" x="137.156" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
				<filter id="m" width="131.429" height="104" x="0" y="0" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="8" dy="8"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.501961 0 0 0 0 0.333333 0 0 0 0 0.447059 0 0 0 1 0"/>
				<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_7_11"/>
				<feColorMatrix in="SourceAlpha" result="hardAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset dx="4" dy="4"/>
				<feComposite in2="hardAlpha" operator="out"/>
				<feColorMatrix values="0 0 0 0 0.912613 0 0 0 0 0.785461 0 0 0 0 0.962704 0 0 0 1 0"/>
				<feBlend in2="effect1_dropShadow_7_11" result="effect2_dropShadow_7_11"/>
				<feBlend in="SourceGraphic" in2="effect2_dropShadow_7_11" result="shape"/>
				</filter>
			</defs>
		</svg>
		<span class="text-gray-500 text-xs font-bold">v{{ utils.theme_version }}</span>
	</div>
</a>